In [22]:
import random
from faker import Faker
import pandas as pd
fake = Faker(['it_IT', 'en_US'])

# task_01
first_name = [fake.first_name() for _ in range(15)]
last_name = [fake.last_name() for _ in range(15)]
list_of_avg_rating = [random.randint(10, 100) for _ in range(15)]
mark_for_the_current_exam = [random.randint(1, 12) for _ in range(15)]
number_of_attempts = [random.randint(1, 5) for _ in range(15)]

students_data = pd.DataFrame({"first_name": first_name,
                   "second_name": last_name,
                   "avg_rating": list_of_avg_rating,
                   "mark_for_the_current_exam": mark_for_the_current_exam,
                   "number_of_attempts": number_of_attempts})
students_data

,first_name,second_name,avg_rating,mark_for_the_current_exam,number_of_attempts
0,Pierluigi,Luna,60,6,2
1,Pierluigi,Brown,89,8,4
2,Laura,Johnson,91,6,5
3,Matthew,Powell,100,7,4
4,Kimberly,Metella,98,4,4
5,Michelle,Mortati,39,7,4
6,Domenico,Mclaughlin,43,11,2
7,Alice,Argan,83,11,5
8,Enzio,Brown,16,10,1
9,Bruce,Majorana,16,9,1
10,Sylvia,Smith,56,5,3
11,Loretta,Brewer,43,5,4
12,Brad,Lamborghini,24,8,5
13,Lara,Udinese,33,12,1
14,Uberto,Tolentino,74,3,4

In [23]:
# task_02
admission_to_the_next_exam = [random.choice(["Yes", "No"]) for _ in range(15)]
students_data["admission_to_the_next_exam"] = admission_to_the_next_exam
students_data

,first_name,second_name,avg_rating,mark_for_the_current_exam,number_of_attempts,admission_to_the_next_exam
0,Pierluigi,Luna,60,6,2,Yes
1,Pierluigi,Brown,89,8,4,Yes
2,Laura,Johnson,91,6,5,No
3,Matthew,Powell,100,7,4,No
4,Kimberly,Metella,98,4,4,Yes
5,Michelle,Mortati,39,7,4,Yes
6,Domenico,Mclaughlin,43,11,2,No
7,Alice,Argan,83,11,5,Yes
8,Enzio,Brown,16,10,1,Yes
9,Bruce,Majorana,16,9,1,No
10,Sylvia,Smith,56,5,3,No
11,Loretta,Brewer,43,5,4,No
12,Brad,Lamborghini,24,8,5,Yes
13,Lara,Udinese,33,12,1,No
14,Uberto,Tolentino,74,3,4,No

In [17]:
# task_03
students_data['avg_rating'].agg(['min', 'max', 'mean', 'median'])

min        26.000000
max       100.000000
mean       54.733333
median     58.000000
Name: avg_rating, dtype: float64

In [18]:
# task_04
count = students_data.loc[students_data['number_of_attempts'] == 1, 'number_of_attempts'].count()
count

3

In [19]:
# task_05
first_name = pd.Series(students_data['first_name'])
type(first_name)

pandas.core.series.Series